gdown,
pandas,
peft,
trl,
mlflow,
accelerate,
https://pypi.org/simple/ bitsandbytes,
evaluate,
numpy,
datasets,
transformers,
huggingface_hub,
torch,
unsloth,
langchain,
langchain-community,
langchain_cohere,
faiss-gpu,
tqdm,
copy,
getpass,